version: '3'

services:
  db:
    image: mongo:5
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGODB_DATABASE: nest-pokemon
    volumes:
      - ./mongo:/data/db
redis:
  # Usa la imagen oficial de Redis
  image: redis:7-alpine
  container_name: redis_cache
  restart: always
  ports:
    # Mapea el puerto de Redis
    - '6379:6379'
  command: redis-server --appendonly yes
  volumes:
    # Monta un volumen para persistir los datos (si usas persistencia)
    - redis_data:/data
  healthcheck:
    test: ['CMD', 'redis-cli', 'ping']
    interval: 5s
    timeout: 3s
    retries: 5
